@use "../../base/variables" as v;
@use "../../base/mixins" as m;

.contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem 0 5rem 0; 
  width: 50rem;
  text-align: center;
  border-radius: 1.5rem;
  padding-bottom: 2rem;
  background-color: #0f171b;;

  h2{
    margin-bottom: 1rem;
  }

  &__container{
    p {
    color: v.$grisClaro;
    text-align: left;
    padding: 0 0 0 10rem;
  }

  &__form{
    font-size: 20rem;

  }

  a {
    color:  rgba(39, 113, 150, 0.959);
  }

  a:hover {
    color: v.$blanco;
  }
  }
  

  @include m.desktop{
    width: 100%;
    margin-top: 8rem;
    padding-top: 2rem;
    margin-bottom: 0;

    h2 {
      font-size: 4.5rem;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }


    &__container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;

      p{
        font-size: 2rem;
      }
    }

    &__enlaces{
      display: flex;
      flex-direction: row;
    }
  }
}

.form{
  .campo{
    margin-bottom: 2rem;
     &:last-child{
      margin-bottom: 0;
     }

     label{
      text-transform: uppercase;
      display: block;
      font-size: 2.2rem;
      font-weight: 700;
     }

     input:not([type="submit"]){
      width: 100%;
      padding: 1rem;
      border: .5rem solid v.$primario;
     }

     input[type="submit"]{
      background-color: v.$primario;
      width: 100%;
      color: v.$blanco;
      border: none;
      padding: 1rem;
      font-size: 2.2rem;
      font-weight: 700;
      text-transform: uppercase;

      &:hover{
        cursor: pointer;
      }
     }
  }
}