@use "../../base/variables" as v;
@use "../../base/mixins" as m;

.contacto {
  display: flex;
  justify-content: space-around;
  background-color: #0f171b;
  margin-top: 3rem;
  width: 100%;
  box-shadow: 0px 0px 60px #1f4c65;

  a {
    color: rgb(15, 53, 56);
  }

  a:hover {
    color: white;
  }
}