@use "../../base/variables" as v;
@use "../../base/mixins" as m;

.proyectos {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #0f171b;
  border-radius: 1.5rem;
  margin: 5rem 5rem 1.5rem;
  width: 50rem;
  h2 {
    font-size: 4.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  //box-shadow: 0px 0px 60px #1f4c65;

  &__container {

    // .tecnologias {
    //   position: absolute;
    //   background-color: v.$blanco;
    //   width: 48rem;
    //   height: 25.5rem;
    //   margin: 0 1rem;
    //   text-align: center;
    //   border-radius: 1.5rem;

    //   h4,
    //   ul {
    //     color: #0f171b;
    //   }

    //   h4 {
    //     font-size: 3rem;
    //   }

    //   ul {
    //     padding: 0;
    //     font-size: 2.5rem;
    //     list-style: none;
    //     text-decoration: underline;
    //   }

    //   :hover {
    //     display:block;
    //   }

    // }





    h4 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
      margin-top: 2.5rem;
    }

    img {
      margin-top: 1.5rem;
      border-radius: 1.5rem;
      padding: 1rem;
    }

    

    p {
      color: v.$grisClaro;
      text-align: start;
      padding: 1rem;
    }

    a {
      color: rgba(41, 131, 177, 0.959);
      font-size: 2rem;
    }

    a:hover {
      color: v.$blanco;
    }
  }

  @include m.desktop {
    display: flex;
    background-color: #0f171b;
    border-radius: 0;
    width: 100%;
    position: relative;
    margin-top: 5rem;
    h2 {
      font-size: 4.5rem;
      margin-top: 4.5rem;
      margin-bottom: 2rem;
    }

    h4{
      font-size: 3.2rem;
    }
    p{
      font-size: 1.8rem
    }

    &__container{
      display: flex;
      flex-direction: row;
      margin: 0 2rem;
      gap: 2rem;
      padding-bottom: 5rem;

      img{
        width: 50rem;
        height: 30rem;
        margin: 0 auto;
      }
    }

  }
}

.proyecto {
  border-top: 0.2px solid v.$grisClaro;
  margin-top: 2rem;
  padding-top: 3rem;

  @include m.desktop {
    border: 0.2px solid v.$grisClaro;
    border-radius: 2%;
    width: 60rem;
  }

}