// Fuentes
$fuentePrincipal: "Railwey" , sans-serif;
$fuenteSecundaria: "Roboto" , sans-serif;
$fuenteCursiva: "Bona Nova" , serif;

// media queries
$telefono: 480px;
$desktop: 800px;

//colores
$primario: #0f1144;
$secundario: #1db9d4;
$negro: #000000;
$blanco: #FFFFFF;
$grisClaro: #eceeefe5;

//unidades
$separacion: 5rem;