@use "../../base/variables" as v;
@use "../../base/mixins" as m;

.skills {
  background-color: #0f171b;
  border-radius: 1.5rem;
  width: 50rem;
  margin-top: 8rem;
  margin-bottom: 8rem;
  text-align: center;

  h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  &__iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 2rem;
  }

  @include m.desktop {
    width: 100rem;
    padding: 2.5rem 5rem;

    &__iconos {
      gap: 8rem;
    }
  }
}

.icono {
  a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__html {
    transition-property: transform;
    transition-duration: 600ms;
    height: 8rem;
    width: 8rem;

    &:hover {
      fill: #e34c26;
      transform: scale(1.1);
    }
  }

  &__css {
    transition-property: transform;
    transition-duration: 600ms;
    height: 7rem;
    width: 8rem;
    margin-bottom: 8px;

    &:hover {
      fill: #264de4;
      transform: scale(1.1);
    }
  }

  &__sass {
    transition-property: transform;
    transition-duration: 600ms;
    height: 8rem;
    width: 8rem;

    &:hover {
      fill: #cc6699;
      transform: scale(1.1);
    }
  }

  &__js {
    transition-property: transform;
    transition-duration: 600ms;
    height: 8rem;
    width: 8rem;

    &:hover {
      fill: #f0db4f;
      transform: scale(1.1);
    }
  }

  &__ts {
    transition-property: transform;
    transition-duration: 600ms;
    height: 8rem;
    width: 8rem;

    &:hover {
      fill: #007acc;
      transform: scale(1.1);
    }
  }

  &__react {
    transition-property: transform;
    transition-duration: 600ms;
    height: 8rem;
    width: 8rem;

    &:hover {
      fill: #61dbfb;
      transform: scale(1.1);
    }
  }

  &__redux {
    transition-property: transform;
    transition-duration: 600ms;
    height: 8rem;
    width: 8rem;

    &:hover {
      fill: #764abc;
      transform: scale(1.1);
    }
  }

  &__exp {
    transition-property: transform;
    transition-duration: 600ms;
    height: 8rem;
    width: 8rem;

    &:hover {
      fill: #303030;
      transform: scale(1.1);
    }
  }

  &__node {
    transition-property: transform;
    transition-duration: 600ms;
    height: 8rem;
    width: 8rem;

    &:hover {
      fill: #68a063;
      transform: scale(1.1);
    }
  }

  &__post {
    transition-property: transform;
    transition-duration: 600ms;
    height: 8rem;
    width: 8rem;

    &:hover {
      fill: #0064a5;
      transform: scale(1.1);
    }
  }

  &__mongo {
    transition-property: transform;
    transition-duration: 600ms;
    height: 8rem;
    width: 8rem;

    &:hover {
      fill: #4db33d;
      transform: scale(1.1);
    }
  }

  span {
    margin-top: 1.2rem;
  }

  @include m.desktop {
    width: 15rem;
    height: 15rem;

    &__html,
    &__sass,
    &__js,
    &__ts,
    &__react,
    &__redux,
    &__exp,
    &__node,
    &__post,
    &__mongo {
      height: 10rem;
      width: 10rem;
    }

    &__css {
      height: 10rem;
      width: 9rem;
    }

    span {
      font-size: 2.5rem;
    }
  }
}
